// sizes
//-----------------------------------------------------------
$gap:  10px;
$gap-large:  30px;
$form: 45px;
$form-mob: 55px;
$container: 1280px;
$header-max-1151: 50px;
$header-min-1152: 65px;
$viewport-768: 768px;
$viewport-1151: 1152px;

// colors
//-----------------------------------------------------------
$gray:         #b7c4d4;
$gray-dark:    #8593a2;
$gray-light:   #e6e9ee;
$gray-lighten: #f5f5f5;
$white:        #ffffff;
$subscribe:    #f3f5f8;
$black:        #414040;
$blue:         #0d7eff;
$green:        #1cb848;
$yellow:       #fcc009;
$purple:       #3a3b5e;
$lazy-before:  #e5ecf5;
