.c-booking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (min-width: 1152px) {
    flex-wrap: nowrap;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media (min-width: 768px) {
      align-items: center;
      flex-direction: row;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__panel {
    display: none;

    @media (max-width: 1151px) {
      height: 50px;
      padding-left: 12px;
      border-bottom: 1px solid $gray-light;

      &--title {
        font-size: 16px;
        font-weight: 600;
      }

      &--close {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        cursor: pointer;
        position: relative;

        &:after,
        &:before {
          width: 2px;
          height: 14px;
          content: '';
          margin: auto;
          position: absolute;
          background-color: $black;
        }

        &:after {
          transform: rotate(45deg);
        }

        &:before {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__column {
    position: relative;

    @media (max-width: 1151px) {
      width: 100%;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }

    &--direction {
      width: 100%;
      position: static;

      @media (min-width: 1152px) {
        min-width: 358px;
        max-width: 358px;
      }

      .c-booking__dropdown {

        @media (min-width: 1152px) {
          min-width: 250px;
        }
      }

      .c-booking__input {

        @media (max-width: 1151px) {
          padding-right: $form-mob;
        }
      }
    }

    &--check-in,
    &--check-out {
      width: calc(50% - 5px);

      @media (min-width: 1152px) {
        flex-grow: 1;
        border-left: 1px solid $gray-light;
      }
    }

    &--check-in {
      @media (min-width: 1152px) {
        min-width: 182px;
        max-width: 182px;
      }
    }

    &--check-out {
      @media (min-width: 1152px) {
        min-width: 140px;
        max-width: 140px;
      }
    }

    &--people {
      width: 100%;

      @media (min-width: 1152px) {
        min-width: 322px;
        max-width: 322px;
        border-left: 1px solid $gray-light;
      }
    }

    &--direction,
    &--check-in,
    &--check-out,
    &--people {

      &[data-title]:not(.c-booking--open) {

        @media (max-width: 1151px) {
          margin-top: 36px;
          position: relative;
        }

        &:before {

          @media (max-width: 1151px) {
            left: 0;
            top: -22px;
            color: $white;
            line-height: 1;
            font-size: 12px;
            font-weight: 300;
            position: absolute;
            content: attr(data-title);
          }
        }
      }
    }

    &--submit {

      @media (max-width: 1151px) {
        border: 0 !important;
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    position: relative;
    height: $form-mob;
    color: $black;
    cursor: pointer;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 20px;
    white-space: nowrap;
    background-color: $white;
    transition: .3s;

    @media (min-width: 1152px) {
      height: 74px;
      align-items: flex-end;
    }

    [type="text"] {
      border: 0;
      padding: 0;
      height: 100%;
      color: $black;
      font-size: 16px;
      font-weight: 600;
      background-color: rgba(0,0,0,0);

      @media (min-width: 1152px) {
        font-weight: 400;
      }

      &:-moz-placeholder {
        color: #444f5e;
        font-weight: 600;

        @media (min-width: 1152px) {
          color: $black;
          font-weight: 400;
        }
      }

      &:-ms-input-placeholder {
        color: #444f5e;
        font-weight: 600;

        @media (min-width: 1152px) {
          color: $black;
          font-weight: 400;
        }
      }

      &::-webkit-input-placeholder {
        color: #444f5e;
        font-weight: 600;

        @media (min-width: 1152px) {
          color: $black;
          font-weight: 400;
        }
      }
    }

    .icon {
      top: -2px;
      left: 0;
      bottom: 0;
      width: 40px;
      margin: auto;
      color: #444f5e;
      font-size: 16px;
      position: absolute;

      @media (min-width: 1152px) {
        color: $gray-dark;
      }
    }

    &--column {
      margin-right: 20px;
      position: relative;

      &:before {
        top: 0;
        bottom: 0;
        right: -12px;
        width: 4px;
        height: 4px;
        content: '';
        margin: auto;
        position: absolute;
        border-radius: 100%;
        background-color: $black;
      }

      &:last-of-type {
        margin-right: 0;

        &:before {
          display: none;
        }
      }
    }

    &--clear,
    &--close {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      margin: auto;
      width: $form-mob;
      height: $form-mob;
      cursor: pointer;
      position: absolute;
      transition: transform .3s;

      @media (min-width: 1152px) {
        display: none;
      }

      &:after,
      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        content: '';
        height: 20px;
        margin: auto;
        position: absolute;
        background-color: #444f5e;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }

      @media (min-width: 1025px) {

        &:hover {
          transform: rotate(360deg);
        }
      }
    }

    &--outer-placeholder {
      display: none;

      @media (min-width: 1152px) {
        display: block;
        position: absolute;
        top: 14px;
        left: 16px;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        color: $gray-dark;
      }
    }
  }

  [type="submit"] {
    color: $white;
    height: $form-mob;

    @media (max-width: 1151px) {
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
    }

    @media (min-width: 1152px) {
      padding: 0;
      width: 74px;
      height: 74px;
      font-size: 22px;
    }
  }

  &__dropdown {

    @media (max-width: 1151px) {
      display: none;
    }

    @media (min-width: 1152px) {
      left: 0;
      min-width: 100%;
      max-width: 100%;
      top: calc(100% + 10px);
      z-index: 9;
      position: absolute;
      background-color: $white;
      box-shadow: 0 10px 10px rgba(0,0,0,.2);
      opacity: 0;
      visibility: hidden;
      transform: scaleY(0);
      transform-origin: top left;
      transition: .3s;
    }

    &:before {

      @media (min-width: 1152px) {
        width: 0;
        height: 0;
        left: 14px;
        bottom: 100%;
        content: '';
        position: absolute;
        border-bottom: 6px solid $white;
        border-left: 6px solid rgba(0,0,0,0);
        border-right: 6px solid rgba(0,0,0,0);
      }
    }

    &--item {
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 12px;
      cursor: pointer;
      position: relative;
      border-top: 1px solid #e6e9ee;
      transition: .3s;

      &:first-child {
        border-top: 0;
      }

      &:hover {

        .c-booking__dropdown--location {

          @media (min-width: 1152px) {
            color: $blue;
          }
        }
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      min-width: 0;

      > * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &--icon {
      display: flex;
      color: $gray;
      font-size: 16px;
      min-width: 16px;
      margin-right: 10px;
    }

    &--location {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.4;
      transition: .3s;
    }

    &--header {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 12px;
      padding-bottom: 0;
    }

    &--title {
      flex-grow: 1;
      font-size: 16px;
      line-height: 1.4;
      user-select: none;
      transition: .3s;
      font-weight: 600;

      small {
        display: block;
        color: #8593a2;
        font-size: 12px;
      }
    }

    &--region {
      color: $gray-dark;
      font-size: 12px;
      line-height: 1.4;
    }

    &--dynamic {
      display: flex;
      align-items: center;
    }

    &--arrow {
      color: $black;
      padding-right: 34px;

      &:before {
        top: 0;
        bottom: 0;
        right: 14px;
        content: '';
        width: 10px;
        height: 10px;
        margin: auto;
        position: absolute;
        border-top: 2px solid $black;
        border-right: 2px solid $black;
        transform: rotate(45deg);
      }
    }

    &--bt {
      border-top: 1px solid $gray-light;
    }

    &--bt-0 {
      border-top: 0;
    }

    &--h {
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &--pb-10 {
      padding-bottom: 10px;
    }

    &--done {
      justify-content: flex-end;
      height: 40px;
      transition: .3s;

      &:hover {

        @media (min-width: 1152px) {
          color: $blue;
        }
      }
    }
  }

  &__count {
    display: flex;
    align-items: center;
    text-align: center;

    &--plus,
    &--minus {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: relative;
      background-color: #EFF3F6;
      transition: .3s, transform 0s;

      &:after,
      &:before {
        width: 8px;
        height: 1px;
        content: '';
        position: absolute;
        background-color: $black;
      }

      &:active {
        transform: translateY(2px);
      }

      &:hover {
        background-color: darken(#EFF3F6, 5%) !important;
      }
    }

    &--plus {

      &:before {
        transform: rotate(90deg);
      }
    }

    &--value {
      width: 30px;
      user-select: none;
      font-weight: 600;
    }
  }

  &__change {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: -16px;
    z-index: 1;
    width: 32px;
    height: 32px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    background-color: $white;
    border: 1px solid $gray-light;

    @media (max-width: 1151px) {
      top: 40px;
      left: auto;
      right: 10px;
      bottom: auto;
      transform: rotate(90deg);
    }
  }

  &__reset {
    display: flex;
    align-items: center;
    color: $white;
    cursor: pointer;

    .icon {
      font-size: 16px;
      margin-right: 10px;
    }

    &:hover .icon {
      animation: rotate 1s infinite linear;
      animation-fill-mode: both;
    }
  }

  &__add {
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    transition: .3s !important;

    @media (max-width: 1151px) {
      justify-content: center;
      padding: 0;
    }

    .icon {
      color: $blue;
      font-size: 18px;

      @media (max-width: 1151px) {
        margin: 0;
        position: relative;
      }
    }

    &:hover {

      @media (max-width: 1151px) {
        color: $blue;
      }
    }
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: calc(55px * 2 - 12px);
    right: -8px;
    width: 20px;
    height: 20px;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    background-color: #e9ecf2;
    transition: .3s;

    @media (min-width: 1152px) {
      top: 0;
      bottom: 0;
      right: -12px;
      width: 24px;
      height: 24px;
    }

    &:after,
    &:before {
      width: 1px;
      height: 10px;
      content: '';
      margin: auto;
      position: absolute;
      background-color: $black;

      @media (min-width: 1152px) {
        height: 12px;
      }
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: darken(#e9ecf2, 5%);
    }
  }

  // modifier
  //-------------------------------------------------------
  &--active {

    .c-booking__dropdown {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
    }
  }

  &--no-pointer {
    cursor: default;
  }

  &--open {

    @media (max-width: 1151px) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100% !important;
      z-index: 999;
      margin-top: 0;
      position: fixed;
      background-color: $white;
    }

    &.c-booking__column--people {

      .c-booking__input {

        @media (max-width: 1151px) {
          display: none;
        }
      }

      .c-booking__dropdown {

        @media (max-width: 1151px) {
          top: 50px;
        }
      }
    }

    .c-booking__panel {

      @media (max-width: 1151px) {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .c-booking__input {

      @media (max-width: 1151px) {
        background-color: #f3f5f8;
      }
    }

    .c-booking__dropdown {

      @media (max-width: 1151px) {
        display: block;
        top: 105px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        position: absolute;
      }

      &--item:last-child {

        @media (max-width: 1151px) {
          border-bottom: 1px solid #e6e9ee;
        }
      }
    }

    .c-booking__change {

      @media (max-width: 1151px) {
        display: none !important;
      }
    }
  }

  &--difficult {

    .c-booking__reset {
      display: none;
    }

    .c-booking__column {
      border-left: 1px solid $gray-light;

      &.c-booking--open {

        @media (max-width: 1151px) {
          border-top: 0;
          border-left: 0;
        }
      }

      &:last-of-type,
      &:first-of-type {
        border-left: 0;
      }

      &--clone {
        display: none;
      }

      &--add,
      &--when {
        display: none;
      }

      &--from,
      &--where {

        @media (min-width: 1152px) {
          min-width: 230px;
          max-width: 230px;
        }

        .c-booking__dropdown {

          &--item {
            padding-left: 20px;

            &:hover {

              @media (min-width: 1152px) {
                background-color: #f3f5f8;
              }

              .c-booking__dropdown--location {
                color: $black;
              }
            }
          }

          &--icon {
            font-size: 18px;
            min-width: 22px;
            margin-right: 20px;

            @media (min-width: 1152px) {
              font-size: 22px;
            }
          }

          &--region {
            order: -1;
          }
        }
      }

      &--from {

        .c-booking__input {
          padding-left: 10px;

          @media (min-width: 1152px) {
            padding-left: 20px;
          }
        }

        .c-booking__dropdown {

          @media (min-width: 1152px) {
            min-width: 230px * 2;
          }

          &--item:last-child {
            height: auto;
            min-height: 60px;
            padding-top: 12px;
            padding-bottom: 12px;

            .c-booking__dropdown--region {
              order: 0;
              overflow: visible;
              white-space: normal;
            }

            .c-booking__dropdown--icon .icon {
              color: #8593a2;
              transform: scale(1.4);
            }
          }
        }
      }

      &--where {

        .c-booking__input {

          @media (max-width: 1151px) {
            padding-left: 10px;
          }
        }

        .c-booking__dropdown {

          @media (min-width: 1152px) {
            right: 0;
            left: auto;
            min-width: 230px * 2;

            &:before {
              left: auto;
              right: 14px;
            }
          }
        }
      }

      &--visit,
      &--leaving {

        @media (max-width: 1151px) {
          width: calc(50% - 5px);

          &.c-booking--open {
            width: 100%;
          }
        }

        @media (min-width: 1152px) {
          max-width: 160px;
          min-width: 160px;
        }

        // .icon {

        //     @media (max-width: 1151px) {
        //         display: none;
        //     }
        // }

        // .c-booking__input {

        //     @media (max-width: 1151px) {
        //         padding-left: 10px;
        //     }
        // }
      }

      &--passengers {
        flex-grow: 1;
      }

      &--has-value {

        .c-booking__input {
          padding-top: 18px;

          .icon {
            top: 18px;
          }
        }

        &[data-title]:before {
          opacity: 1;
        }

        &.c-booking__column--from[data-title]:before {

          @media (min-width: 1152px) {
            left: 20px;
          }
        }

        &.c-booking__column--where[data-title]:before {

          @media (min-width: 1152px) {
            left: 40px;
          }
        }
      }

      .c-booking__reset {
        display: none;
      }
    }

    .c-booking__input {
      height: 55px;
      transition: 0s;

      @media (min-width: 1152px) {
        height: 70px;
      }

      &--clear,
      &--close {
        display: none;
      }

      input {
        font-size: 16px;
        font-weight: 600;

        @media (max-width: 1151px) {

          &:-moz-placeholder {
            font-weight: 400;
          }

          &:-ms-input-placeholder {
            font-weight: 400;
          }

          &::-webkit-input-placeholder {
            font-weight: 400;
          }
        }
      }

      :focus {

        &:-moz-placeholder {
          color: $white;
        }

        &:-ms-input-placeholder {
          color: $white;
        }

        &::-webkit-input-placeholder {
          color: $white;
        }
      }
    }

    [data-title]:before {
      top: 10px;
      left: 10px;
      z-index: 1;
      color: $gray-dark;
      line-height: 1;
      font-size: 14px;
      position: absolute;
      content: attr(data-title);
      opacity: 0;
      transition: 0s;
      pointer-events: none;
    }

    [type="submit"] {
      height: 55px;

      @media (min-width: 1152px) {
        width: 70px;
        height: 70px;
      }
    }

    .c-booking__change {

      @media (max-width: 1151px) {
        top: auto;
        bottom: 44px;
      }
    }

    .c-booking__count {

      &--plus,
      &--minus {

        &:hover {
          background-color: $blue;

          &:after,
          &:before {
            background-color: #ffffff;
          }
        }
      }
    }

    .c-booking__panel {
      display: none;
    }

    .c-booking--open {

      @media (max-width: 1151px) {

        &[data-title]:before {
          visibility: hidden;
        }

        .c-booking__input {
          height: 60px;
          padding-top: 0;
          padding-left: 60px;
          padding-right: 60px;
          background-color: #ffffff;
          border-bottom: 1px solid #e6e9ee;

          &--close {
            display: flex;
            left: 0;
            right: auto;
            width: 60px;
            height: 60px;

            &:after,
            &:before {
              left: 4px;
              height: 16px;
            }
          }

          &--clear {
            display: flex;
            width: 60px;
            height: 60px;
            font-size: 12px;
            text-indent: -10px;

            &:after,
            &:before {
              display: none;
            }
          }

          .icon {
            top: -2px;
          }

          :-moz-placeholder {
            color: $black;
          }

          :-ms-input-placeholder {
            color: $black;
          }

          ::-webkit-input-placeholder {
            color: $black;
          }
        }

        .c-booking__dropdown {
          top: 60px;
        }

        &.c-booking__column {

          &--visit,
          &--leaving,
          &--when {

            .icon {

              @media (max-width: 1151px) {
                display: none;
              }
            }

            // .c-booking__input {

            //     @media (max-width: 1151px) {
            //         padding-left: 10px;
            //     }
            // }
          }

          &--passengers {

            .c-booking__input {
              padding-left: 20px;

              .icon,
              &--column {
                display: none;
              }

              &--close {
                right: 0;
                left: auto;
                z-index: 9;
                font-size: 12px;
                text-indent: -16px;

                &:after,
                &:before {
                  display: none;
                }
              }
            }

            .c-booking__dropdown {
              top: 10px;

              &--header {
                display: block;
                border: 0;
                font-size: 18px;
                padding-left: 20px;
                padding-right: 20px;

                &.c-booking__dropdown--passengers {
                  margin-bottom: 20px;
                }
              }

              &--item {
                padding-left: 20px;
                padding-right: 20px;

                &:nth-child(-n + 4) {
                  padding-top: 10px;
                  padding-bottom: 10px;
                }
              }

              &--title {
                font-size: 24px;
                font-weight: 600;

                small {
                  font-size: 14px;
                  font-weight: 400;
                }
              }

              &--done {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &--one-way {

    .c-booking__column {

      &--visit,
      &--leaving {
        display: none;
      }

      &--when:not(.c-booking__column--clone) {
        display: block;
      }
    }
  }

  &--complex {
    flex-wrap: wrap;

    .c-booking__flights-only {
      display: none;
    }

    .c-booking__reset {
      display: flex;
    }

    .c-booking__column {
      max-width: none;
      border-top: 1px solid $gray-light;

      &--clone {
        display: block;
      }

      &--visit,
      &--leaving {
        display: none;
      }

      &--from,
      &--where,
      &--when {
        width: calc(100% / 3);
      }

      &--from,
      &--where {

        @media (max-width: 1151px) {
          width: 50%;
          margin: 0;

          &.c-booking__column--clone:not(.c-booking--open) {
            margin-top: $gap;
          }
        }
      }

      &--where:not(.c-booking--open) {

        .c-booking__input {

          @media (max-width: 1151px) {
            padding-left: 24px;
          }
        }
      }

      &--add,
      &--when {
        display: block;
      }

      &--when {

        @media (max-width: 1151px) {
          width: 100%;
          margin: 0;
          border-top: 1px solid $gray-light;
        }
      }

      &--add {
        width: calc(100% / 3 * 2);

        @media (max-width: 1151px) {
          width: 100%;
        }
      }
    }

    .c-booking__dropdown {
      top: 100%;
      // top: calc(~ '100% + 1px');

      &:before {
        display: none;
      }
    }

    .c-booking__change {
      top: 0;
      bottom: 0;
      left: -16px;
      right: auto;
      transform: rotate(0deg);
    }
  }

  &--vertical {
    flex-direction: column;
    padding: 20px;
    // margin-bottom: 40px;
    background-color: $purple;

    .c-booking__row {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    .c-booking__half {
      flex-grow: 1;
    }

    .c-booking__title {
      color: #ffffff;
      line-height: 1;
      font-size: 24px;
      font-weight: 600;
    }

    .c-booking__input {
      flex-grow: 1;
      height: 45px;
      cursor: default;
    }

    [data-title]:before {
      left: 0;
      top: -20px;
      z-index: 1;
      color: rgba(255,255,255,.7);
      line-height: 1;
      font-size: 12px;
      position: absolute;
      content: attr(data-title);
    }

    [type="submit"] {
      width: 100%;
      height: 45px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &--pl-10 {
    padding-left: 10px;
  }

  &--pr-10 {
    padding-right: 10px;
  }

  &--mt-10 {
    margin-top: 10px !important;
  }

  &--mr-10 {
    margin-right: 10px;
  }
}