.c-select {
  width: 100%;
  user-select: none;
  position: relative;

&__selected {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  cursor: pointer;
  position: relative;
  height: $form;
  padding-left: 20px;
  padding-right: 50px;
  background-color: $white;
  border: 1px solid $gray-light;
  transition: border-color .3s;

  &:after,
  &:before {
    top: 0;
    bottom: 0;
    content: '';
    margin: auto;
    position: absolute;
  }

  &:after {
    width: 1px;
    height: 50%;
    right: 38px;
    background-color: $gray-light;
    transition: background-color .3s;
  }

  &:before {
    width: 0;
    height: 0;
    right: 16px;
    border-top: 6px solid;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
  }

 .c-select__item--abbr {
        min-width: auto;
        margin-right: 6px;
      }

  &:hover {
    border-color: darken($gray-light, 10%);
  }
}

&__dropdown {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  border: 1px solid $gray-light;
  background-color: $white;

  &--top {
    top: auto;
    bottom: 100%;
  }
}

&__scroll {
  overflow: auto;
  max-height: 180px;
}

&__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1.2;
  padding: 10px 20px;
  transition: background .3s;

  .icon {
    display: flex;
    margin-right: 8px;
  }

  &--abbr {
    min-width: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &--title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: $gray-light;
  }
}

  &--active .c-select__dropdown {
      z-index: 9;
      display: block;
      animation-name: zoomIn;
      animation-duration: .3s;
      animation-fill-mode: both;
    }

// modifier
//-------------------------------------------------------
&--sort {
  width: auto;
  margin-left: 20px;

 .c-select__selected {
    height: 32px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 26px;
    white-space: nowrap;

    &:after {
      display: none;
    }

    &:before {
      right: 10px;
    }
  }
}

  &--w-auto {
    width: auto;
  }

  &--w-100 {
    min-width: 100px;
  }
}

// influence
//-----------------------------------------------------------
.c-booking.c-select {
  width: 90px;

  &__selected {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 20px;

    &:after {
      display: none;
    }

    &:before {
      right: 6px;
    }
  }
}